@model IEnumerable<BlogMvcAPP.Models.BlogModel>
@{
    ViewBag.Title = "Index";
}

<h2>Blog Listesi</h2>

@Html.Partial("BlogListesi", Model)

@section sagkolon
 {

    @Html.Partial("Search")
    @{ Html.RenderAction("katagorilistesi", "Catagory");}
}



